@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
 background-color: #1d1d1d;
 width: 2px;
 height: 7px;
 border-radius: 16px;
}

::-webkit-scrollbar-track {
 background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
 background: #131313;
 -webkit-transition: background 0.2s ease-in;
 transition: background 0.2s ease-in;
}

::-webkit-scrollbar-thumb:hover {
 background: rgb(var(--color-secondary));
}

:root {
 --foreground-rgb: 0, 0, 0;
 --background-rgb: 241 241 241;
 --color-primary: 28 28 28;
 --color-secondary: 29 29 29;
 --color-tertiary: 66 66 66;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
 scroll-behavior: smooth !important;
}
body {
 border: rgb(var(--color-secondary)) 1px solid;
 color: rgb(var(--color-primary));
 background-color: rgb(var(--background-rgb));
 margin: 1% 1%;
}
