@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #1d1d1d;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131313;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255,255,255;
  --color-primary:28, 28, 28;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--color-primary));
  background-color:rgb(var(--background-rgb));
  margin: 0% 6%;
}
